<!doctype html>
<html lang="ko"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorate="~{layout/base.html}"
>
<body>
<div layout:fragment="content">
    <!--    화면 구성시, 이 프래그먼트 영역 안에서만 작업. 주의 사항,-->
    <!--    앞시간에 모달이 동작을 안했던 이유가, 여기 블록안에 없어서 -->
    <!--      검색 화면 구성 넣기-->
    <div class="row content">
        <div class="col">
            <!--      부트 스트랩 5.3 Card 컴포넌트 Header and Footer 의 샘플 가져오기-->
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">검색화면 </h5>
                    <form action="/cafe/notice/list" method="get">
                        <div class="input-group dueDateDiv mb-3">
                            <button type="submit" class="btn btn-primary searchBtn">검색하기</button>
                            <button type="reset" class="btn btn-warning clearBtn">초기화하기</button>
                        </div>

                    </form>
                    <!--                        초기화 버튼 클릭시, 문자열 내용도 초기화되고, 페이지도 1페이지로 이동-->
                </div>
            </div>
        </div>
        <!--        2번째 검색창-->
    </div>
    <div class="row content">
        <div class="col">
            <!--      부트 스트랩 5.3 Card 컴포넌트 Header and Footer 의 샘플 가져오기-->
            <div class="card">
                <!--                <div class="card-header">-->
                <!--                    목록-->
                <!--                </div>-->
                <div class="card-body">

                    <!--                    모달 창 버튼 테스트-->
                    <!-- Button trigger modal -->

                    <!--                     리스트의 목록의 요소를 넣기-->

                    <!--                   페이징 부트스트랩 추가하기-->

                    <!--                                     페이징 부트스트랩 추가하기-->
                    <!--                            paging-container 닫는 부분-->
                </div>
            </div>
        </div>
    </div>

</div>

</body>
</html>