<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Footer</title>
    <style>
        .footer {
            background-color: #000;
            color: #fff;
            padding: 20px;
            display: flex;
            justify-content: space-between;
            align-items: center;
        }

        .footer-logo img {
            max-width: 100px;
        }

        .footer-info {
            text-align: center;
        }
    </style>
</head>
<body>
<div class="footer">
    <div class="footer-logo">
<!--        <img src="/path/to/logo.png" alt="Logo">-->
    </div>
    <div class="footer-info">
        <p>Email: info@cafe.com</p>
        <p>Phone: (123) 456-7890</p>
        <p>Address: 123 Coffee Street, Coffee City, CA 12345</p>
    </div>
</div>
</body>
</html>
