/* 초기화 */
*{ margin: 0; padding: 0;}

a{
    text-decoration: none;
    color: #000;
}

li{ list-style: none;}

body{
    font-size: 20px;
    font-weight: bold;
}

#gnb{
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #ccc;
    overflow: hidden;
    background: white;
    padding: 0px 40px; /* 상하좌우 패딩 조절 */
}

.main-menu, .user-menu {
    display: flex;
}

/* 메뉴 수평 배치 및 크기 지정 */
#gnb > ul > li{
    width: 100px; height: 150px;
    padding: 20px;
}

.main-menu > li:hover {
    background: #BBADA4;
}

/* 2단계 메뉴 */
ul.depth2{
    font-size: 15px;
    margin-top: 40px;
}

ul.depth2 > li:hover > a{
    color: white;
    text-decoration: underline;
}