/* 초기화 */
*{ margin: 0; padding: 0;}

a{
    text-decoration: none;
    color: #000;
}

li{ list-style: none;}

#gnb{
    position: fixed;
    width: 100%;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #ccc;
    overflow: hidden;
    background: #F8F4E1;
}

.main-menu{
    display: flex;
    margin-left: 150px;
}

#gnb > ul.main-menu > li{
    width: 100px;
    padding: 20px;
    padding-top: 35px;
}

.main-menu > li:hover {
    background: #AF8F6F;
}

ul.depth1{
    font-size: 15px;
    margin-top: 40px;
}

a.dp1{
    font-size: 20px;
    font-weight: bold;
}

ul.depth2{
    font-size: 15px;
    margin-top: 40px;
}

ul.depth2 > li {
    padding: 5px 0;
}

ul.depth2 > li:hover > a{
    color: white;
    text-decoration: underline;
}

.user-menu{
    display: flex;
    margin: 36px;
    gap: 15px; /* 간격 조절 */
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: #ccc;
    text-align: center;
    padding: 60px 0;
}

footer > ul.copy_menu {
    display: flex;
    justify-content: center;
    font-size: 15px;
    gap: 15px;
}

footer > span.en {
    margin-top: 30px;
    display: flex;
    justify-content: center;
}